extends ../layouts/common
block content
  h1 BOOKS
  h3 Add a new book
  .d-flex.align-items-center
    form(action="/list/add", method="POST")
      label Title: &nbsp;
      input(type="text", name="title")
      span &nbsp;&nbsp
      label Desc: &nbsp;
      input(type="text", name="desc")
      button Add
    a.btn.btn-dark.ml-auto(href="/books/cart") Cart

  table.table
    thead
      tr
        th(scope='col') #
        th(scope='col') Cover
        th(scope='col') Title
        th(scope='col') Description
        th
    tbody
      -var row = 0
      each book in books
        tr
          th(scope='row')= ++row
          td Book Cover
          td= book.title
          td= book.desc
          td
            a(href='#') Add to cart
