extends ../layouts/common
block content
  h1 Cart
  if cart
    table.table
      tr
        th Product
        th Qty
      each val, key in cart
        tr
          td= key
          td= val
  else
     table.table
      tr
        th Product
        th Qty

